<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [27]:
def calulate_length(string):
    count=0
    for i in string:
    	count=count+1
               
    return 'The length of the string that user provided is:--->', (count)

user_input=input("enter the word to calculate the length: ")
print(calulate_length(user_input))

enter the word to calculate the length: satish
('The length of the string that user provided is:--->', 6)

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.comâ€˜, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [28]:
def freq_character(string):
    
    d=dict()#create a empty Dictionary
    
    for i in string:
        if i in d:#check if the character is in the string, if yes add the frequency or else it will be 1
            d[i]=d[i]+1
        else:
            d[i]=1
    print (d)
    
user_input=input("enter the word to calculate the frequency: ")
print (freq_character(user_input))

enter the word to calculate the frequency: satish
{'s': 2, 'a': 1, 't': 1, 'i': 1, 'h': 1}
None

(3) Write a Python program to sum all the items in a list. (2 points)

In [29]:
# write your answer here
def sum_list(numbers):
    sum=0
    for i in numbers:
        sum+=i
    return sum
    
    
print(sum_list([2,-4,100,-50]))

48

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restartâ€˜, 

Expected Result : 'resta\$t'

In [30]:
def change_character(string):
    first_char = string[0]
    #slice the string and use the replace function for remaining
    changed_char=string[1:].replace(first_char,'$')
    return first_char+changed_char

print(change_character("hello hi hey- This is hhlk"))

hello $i $ey- T$is is $$lk

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [31]:
def caclulate(a,b):
    S= 3.14*((1+ð‘Ž/ð‘)**3)
    return S

print(caclulate(2,3))

14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [33]:
dic1={1:10, 2:20}, 
dic2={3:30, 4:40},
dic3={5:50,6:60},
dic4={}
for i in (dic1,dic2,dic3):
    dic4.update(i)
print("Concatenated dictionary is:",dic4)

Concatenated dictionary is: {1: 2, 3: 4, 5: 6}
{1: 2, 3: 4, 5: 6}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [34]:
def element_check(q):
    user_search = input("What is the element value you want to check in the provided tuple?:")
    if user_search  in tup:
       print(user_search, "exists in the provided tuple")
       
    else:
         print(user_search, "doesn't exists in the provided tuple")
     
tup=("ehy","sat","hello","glasses","7","how")
element_check(tup)

What is the element value you want to check in the provided tuple?:7
7 exists in the provided tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [14]:
def max_min(num):
    minimum=min(num)
    print("The minimun value from the given set is", minimum)
    maximum=max(num)
    print("The Maximum value from the given set is", maximum)
    
    
print(max_min([100,200,140,23,67,899,200,20,-10,0]))

(899, -10)

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [26]:
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
group=1
membersInGroup=5

for participant in student_list[:]:
    if (membersInGroup>3):
        print( "*****\nBreaking down the list in different groups*****")
        print("Group {} consists of below students:".format(group))
        membersInGroup=0
        group+=1   
        
    student_selection=random.choice(student_list)
    print(student_selection)
    membersInGroup+=1
    
    student_list.remove(str(student_selection))

*****
Breaking down the list in different groups*****
Group 1 consists of below students:
ss1995
ds0761
mv0299
rrk0058
*****
Breaking down the list in different groups*****
Group 2 consists of below students:
bk0301
spk0057
rs0850
yye0005
*****
Breaking down the list in different groups*****
Group 3 consists of below students:
pn0159
at0739
vmb0067
pc0353
*****
Breaking down the list in different groups*****
Group 4 consists of below students:
dd0420
sg0940
msp0174
at0768
*****
Breaking down the list in different groups*****
Group 5 consists of below students:
nm0547
snd0097
tv0119
dy0091
*****
Breaking down the list in different groups*****
Group 6 consists of below students:
vl0135
rak0120